# Joining Tables with `dfply`

In [9]:
import pandas as pd
from dfply import *

## Hiding stack traceback

We hide the exception traceback for didactic reasons (code source: [see this post](https://stackoverflow.com/questions/46222753/how-do-i-suppress-tracebacks-in-jupyter)).  Don't run this cell if you want to see a full traceback.

In [10]:
import sys
ipython = get_ipython()

def hide_traceback(exc_tuple=None, filename=None, tb_offset=None,
                   exception_only=False, running_compiled_code=False):
    etype, value, tb = sys.exc_info()
    return ipython._showtraceback(etype, value, ipython.InteractiveTB.get_exception_only(etype, value))

ipython.showtraceback = hide_traceback

## Example

The following tables were taken from the Wikipedia page for joins and will provide a small but sufficiently complicated example for introducing joins.

In [11]:
dept = pd.read_csv("./data/department.csv")
dept

   DeptID     DeptName
0      31        Sales
1      33  Engineering
2      34     Clerical
3      35    Marketing

In [12]:
empl = pd.read_csv("./data/employee.csv")
empl

   DeptID    LastName
0    31.0    Rafferty
1    33.0       Jones
2    33.0  Heisenberg
3    34.0    Robinson
4    34.0       Smith
5     NaN    Williams

In [13]:
dept = pd.read_csv("./data/department.csv")
empl = pd.read_csv("./data/employee.csv")

## Left Outer Join

Use `left_table >> dfply.left_join(right_table, by=common_col_name)`

In [14]:
empl >> left_join(dept, by='DeptID')

   DeptID    LastName     DeptName
0    31.0    Rafferty        Sales
1    33.0       Jones  Engineering
2    33.0  Heisenberg  Engineering
3    34.0    Robinson     Clerical
4    34.0       Smith     Clerical
5     NaN    Williams          NaN

## Rename when the column names are different

In [15]:
empl2 = empl.fillna(0) >> rename(deptIDL = 'DeptID') 
empl2.head(1)

   deptIDL  LastName
0     31.0  Rafferty

In [16]:
empl2 >> left_join(dept, by='DeptID')

KeyError: 'DeptID'

In [17]:
empl2 >> rename(DeptID = 'deptIDL') >> left_join(dept, by='DeptID')

   DeptID    LastName     DeptName
0    31.0    Rafferty        Sales
1    33.0       Jones  Engineering
2    33.0  Heisenberg  Engineering
3    34.0    Robinson     Clerical
4    34.0       Smith     Clerical
5     0.0    Williams          NaN

## Right Outer Join

Use `left_table >> dfply.right_join(right_table, by=common_col_name)`

In [18]:
empl >> right_join(dept, by='DeptID')

   DeptID    LastName     DeptName
0    31.0    Rafferty        Sales
1    33.0       Jones  Engineering
2    33.0  Heisenberg  Engineering
3    34.0    Robinson     Clerical
4    34.0       Smith     Clerical
5    35.0         NaN    Marketing

## Full Outer Join

Use `left_table >> dfply.outer_join(right_table, by=common_col_name)`

In [19]:
empl >> outer_join(dept, by='DeptID')

   DeptID    LastName     DeptName
0    31.0    Rafferty        Sales
1    33.0       Jones  Engineering
2    33.0  Heisenberg  Engineering
3    34.0    Robinson     Clerical
4    34.0       Smith     Clerical
5     NaN    Williams          NaN
6    35.0         NaN    Marketing

## Inner Join

Use `left_table >> dfply.inner_join(right_table, by=common_col_name)`

In [20]:
empl >> inner_join(dept, by='DeptID')

   DeptID    LastName     DeptName
0    31.0    Rafferty        Sales
1    33.0       Jones  Engineering
2    33.0  Heisenberg  Engineering
3    34.0    Robinson     Clerical
4    34.0       Smith     Clerical

## Example 2 - Joining Batting to People

As an example of a joining on more than 1 column, consider the following task.

**Task:** Create a table with the total runs score for each team in 2009.  Include the teams proper name and the name of their home park.

In [21]:
files = ("./data/baseball/core/Batting.csv", 
         "./data/baseball/core/Teams.csv")

In [22]:

batting, teams = [pd.read_csv(f) for f in files]

## Things we need from `Batting.csv`

* Year
* Runs
* Team

In [23]:
batting.head(2)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0

#### Selecting down to the necessary columns

In [24]:
batting_select = (batting
                  >> select(X.teamID,
                            X.yearID,
                            X.R)
                 )
batting_select.head()

  teamID  yearID   R
0    TRO    1871   0
1    RC1    1871  30
2    CL1    1871  28
3    WS3    1871  28
4    RC1    1871  29

In [25]:
batting_select.shape

(105861, 3)

## Things we need from `Teams.csv`

* Year
* Team
* Team Name
* Team Park

In [26]:
teams.head(2)

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1

#### Selecting down to the necessary columns

In [27]:
teams_select = (teams >> select(X.yearID,
                                X.teamID,
                                X.name,
                                X.park))
teams_select.head()

   yearID teamID                     name                          park
0    1871    BS1     Boston Red Stockings           South End Grounds I
1    1871    CH1  Chicago White Stockings       Union Base-Ball Grounds
2    1871    CL1   Cleveland Forest Citys  National Association Grounds
3    1871    FW1     Fort Wayne Kekiongas                Hamilton Field
4    1871    NY2         New York Mutuals      Union Grounds (Brooklyn)

## How can we match these columns?

We will need to match on both `teamID` and `yearID` because

1. Team names might change
2. The teams park depends on the year.

## Determining the correct join.

Facts of the task:

* We want batting statistics for all players in 2009
* We want only teams names and parks for teams that played that year.

**Question:** Which join? 
**Answer:** `batting >> left_join(teams)` on both year and

## How to join on multiple columns

Pass a list of columns names to `by`

In [28]:
df_joined = batting_select >> left_join(teams_select, by=['teamID', 'yearID'])
df_joined.head()

,teamID,yearID,R,name,park
0,TRO,1871,0,Troy Haymakers,Haymakers' Grounds
1,RC1,1871,30,Rockford Forest Citys,Agricultural Society Fair Grounds
2,CL1,1871,28,Cleveland Forest Citys,National Association Grounds
3,WS3,1871,28,Washington Olympics,Olympics Grounds
4,RC1,1871,29,Rockford Forest Citys,Agricultural Society Fair Grounds

#### Filter, group by, and aggregate to get the desired result.

In [29]:
runs_per_team09 = (df_joined
                   >> filter_by(X.yearID == 2009)
                   >> group_by(X.name, X.park)
                   >> summarise(total_runs = X.R.sum()))
runs_per_team09.head()

                          park                  name  total_runs
0                  Chase Field  Arizona Diamondbacks         720
1                 Turner Field        Atlanta Braves         735
2  Oriole Park at Camden Yards     Baltimore Orioles         741
3               Fenway Park II        Boston Red Sox         872
4                Wrigley Field          Chicago Cubs         707

In [30]:
runs_per_team09.shape

(30, 3)

## Joins are expensive!

**Be careful when joining large tables!! Especially for full outer joins!!!**

When joining table `A` to table `B`, 

* `inner_join` performs `min(len(A), len(B))` comparisons
* `outer_join` performs `len(A)*len(B)` row comparisons.
* `left_join` and `right_join` are somewhere inbetween (depending on how we treat multiples).

## Outer joins (can) produce LARGE tables.

**Be careful when joining large tables!! Especially for full outer joins!!!**

When joining table `A` to table `B`, 

* `outer_join` might produce `len(A)*len(B)` rows (worst case)
* `left_join` and `right_join` are similar if we don't drop multiples.

#### Last example

In [31]:
teams_select.shape

(2895, 4)

In [32]:
len(batting_select)*len(teams_select)

306467595

## The joining mantra: Filter/aggregate THEN join

By filtering and/or aggregating before joining, you will

* reduce the amount of work
* protect against really large output

#### Filter and aggregate to total runs per team per year

In [33]:
runs = (batting_select
        >> filter_by(X.yearID == 2009)
        >> group_by(X.teamID)
        >> summarise(total_runs = X.R.sum()))

runs.head()

  teamID  total_runs
0    ARI         720
1    ATL         735
2    BAL         741
3    BOS         872
4    CHA         724

#### Filter down to 2009 teams

In [34]:
teams09 = (teams_select
           >> filter_by(X.yearID == 2009)
           >> drop(X.yearID)
          )
teams09.head()

     teamID                  name                         park
2595    ARI  Arizona Diamondbacks                  Chase Field
2596    ATL        Atlanta Braves                 Turner Field
2597    BAL     Baltimore Orioles  Oriole Park at Camden Yards
2598    BOS        Boston Red Sox               Fenway Park II
2599    CHA     Chicago White Sox          U.S. Cellular Field

In [35]:
len(runs),len(teams09)

(30, 30)

In [36]:
len(runs)*len(teams09)

900

## Joining the smaller tables

**Note:** Since we filtered down to 2009, we don't need to join on `yearID`

In [37]:
runs_per_team09_new = (runs 
                       >> left_join(teams09, by='teamID')
                       >> drop(X.teamID))
runs_per_team09_new.head()

   total_runs                  name                         park
0         720  Arizona Diamondbacks                  Chase Field
1         735        Atlanta Braves                 Turner Field
2         741     Baltimore Orioles  Oriole Park at Camden Yards
3         872        Boston Red Sox               Fenway Park II
4         724     Chicago White Sox          U.S. Cellular Field

In [38]:
runs_per_team09_new.shape

(30, 3)

## Don't worry about speed until it matters!

* I don't emphasize speed most of the time.
* In this case, either approach was nearly instant.
* Still ... `join`s are *so dangerous* that I make an exception here!

## <font color="red"> Exercise 1 </font>

Determine all the players that have hit more than 100 home runs in a season.  The final table should include the players proper name, as well as the team name.  

**Hint:** You will need join the files listed below.  To get credit for this exercise, use the join methods presented above.

In [39]:
files = ("./data/baseball/core/Batting.csv", 
         "./data/baseball/core/People.csv",
         "./data/baseball/core/Teams.csv")

In [40]:
# Your code here
batting, people, teams = [pd.read_csv(f) for f in files]

In [41]:
batting.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [42]:
people.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID'],
      dtype='object')

In [43]:
teams

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2
5,1871,NaN,PH1,PNA,NaN,1,28,NaN,21,7,...,13,0.845,Philadelphia Athletics,Jefferson Street Grounds,NaN,102,98,ATH,PH1,PH1
6,1871,NaN,RC1,ROK,NaN,9,25,NaN,4,21,...,14,0.821,Rockford Forest Citys,Agricultural Society Fair Grounds,NaN,97,99,ROK,RC1,RC1
7,1871,NaN,TRO,TRO,NaN,6,29,NaN,13,15,...,22,0.845,Troy Haymakers,Haymakers' Grounds,NaN,101,100,TRO,TRO,TRO
8,1871,NaN,WS3,OLY,NaN,4,32,NaN,15,15,...,20,0.850,Washington Olympics,Olympics Grounds,NaN,94,98,OLY,WS3,WS3
9,1872,NaN,BL1,BLC,NaN,2,58,NaN,35,19,...,22,0.830,Baltimore Canaries,Newington Park,NaN,106,102,BAL,BL1,BL1
10,1872,NaN,BR1,ECK,NaN,9,29,NaN,3,26,...,9,0.803,Brooklyn Eckfords,Union Grounds,NaN,87,96,ECK,BR1,BR1
11,1872,NaN,BR2,BRA,NaN,6,37,NaN,9,28,...,15,0.810,Brooklyn Atlantics,Capitoline Grounds,NaN,115,122,BRA,BR2,BR2
12,1872,NaN,BS1,BNA,NaN,1,48,NaN,39,8,...,44,0.875,Boston Red Stockings,South End Grounds I,NaN,105,100,BOS,BS1,BS1
13,1872,NaN,CL1,CFC,NaN,7,22,NaN,6,16,...,17,0.816,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
14,1872,NaN,MID,MAN,NaN,8,24,NaN,5,19,...,11,0.804,Middletown Mansfields,Mansfield Club Grounds,NaN,98,103,MAN,MID,MID
15,1872,NaN,NY2,NNA,NaN,3,56,NaN,34,20,...,33,0.868,New York Mutuals,Union Grounds (Brooklyn),NaN,93,92,NYU,NY2,NY2
16,1872,NaN,PH1,PNA,NaN,4,47,NaN,30,14,...,20,0.858,Philadelphia Athletics,Jefferson Street Grounds,NaN,102,100,ATH,PH1,PH1
17,1872,NaN,TRO,TRO,NaN,5,25,NaN,15,10,...,9,0.861,Troy Haymakers,Haymakers' Grounds,NaN,101,100,TRO,TRO,TRO
18,1872,NaN,WS3,OLY,NaN,10,9,NaN,2,7,...,7,0.786,Washington Olympics,Olympics Grounds,NaN,94,98,OLY,WS3,WS3
19,1872,NaN,WS4,NAT,NaN,11,11,NaN,0,11,...,2,0.774,Washington Nationals,Nationals Grounds,NaN,129,141,NAT,WS4,WS4
20,1873,NaN,BL1,BLC,NaN,3,57,NaN,34,22,...,32,0.862,Baltimore Canaries,Newington Park,NaN,101,102,BAL,BL1,BL1
21,1873,NaN,BL4,MAR,NaN,9,6,NaN,0,6,...,0,0.761,Baltimore Marylands,Newington Park,NaN,77,99,MAR,BL4,BL4
22,1873,NaN,BR2,BRA,NaN,6,55,NaN,17,37,...,34,0.817,Brooklyn Atlantics,Union Grounds,NaN,90,94,BRA,BR2,BR2
23,1873,NaN,BS1,BNA,NaN,1,60,NaN,43,16,...,54,0.836,Boston Red Stockings,South End Grounds I,NaN,106,100,BOS,BS1,BS1
24,1873,NaN,ELI,RES,NaN,8,23,NaN,2,21,...,14,0.789,Elizabeth Resolutes,Waverly Fairgrounds,NaN,92,103,RES,ELI,ELI
25,1873,NaN,NY2,NNA,NaN,4,53,NaN,29,24,...,29,0.819,New York Mutuals,Union Grounds (Brooklyn),NaN,98,96,NYU,NY2,NY2
26,1873,NaN,PH1,PNA,NaN,5,52,NaN,28,23,...,30,0.840,Philadelphia Athletics,Jefferson Street Grounds,NaN,108,105,ATH,PH1,PH1
27,1873,NaN,PH2,PWS,NaN,2,53,NaN,36,17,...,43,0.849,Philadelphia Whites,Jefferson Street Grounds,NaN,103,101,PHI,PH2,PH2
28,1873,NaN,WS5,WBL,NaN,7,39,NaN,8,31,...,27,0.812,Washington Blue Legs,Olympics Grounds,NaN,96,102,WAS,WS5,WS5
29,1874,NaN,BL1,BLC,NaN,8,47,NaN,9,38,...,15,0.812,Baltimore Canaries,Newington Park,NaN,102,104,BAL,BL1,BL1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2865,2018,NL,ARI,ARI,W,3,162,81.0,82,80,...,152,0.988,Arizona Diamondbacks,Chase Field,2242695.0,108,107,ARI,ARI,ARI
2866,2018,NL,ATL,ATL,E,1,162,81.0,90,72,...,134,0.986,Atlanta Braves,SunTrust Park,2555781.0,100,100,ATL,ATL,ATL
2867,2018,AL,BAL,BAL,E,5,162,81.0,47,115,...,159,0.982,Baltimore Orioles,Oriole Park at Camden Yards,1564192.0,96,97,BAL,BAL,BAL
2868,2018,AL,BOS,BOS,E,1,162,81.0,108,54,...,106,0.987,Boston Red Sox,Fenway Park II,2895575.0,104,102,BOS,BOS,BOS
2869,2018,AL,CHA,CHW,C,4,162,81.0,62,100,...,135,0.981,Chicago White Sox,U.S. Cellular Field,1608817.0,97,98,CHW,CHA,CHA
2870,2018,NL,CHN,CHC,C,2,163,82.0,95,68,...,155,0.983,Chicago Cubs,Wrigley Field,3181089.0,107,106,CHC,CHN,CHN
2871,2018,NL,CIN,CIN,C,5,162,81.0,67,95,...,144,0.984,Cincinnati Reds,Great American Ball Park,1629356.0,103,104,CIN,CIN,CIN
2872,2018,AL,CLE,CLE,C,1,162,81.0,91,71,...,123,0.986,Cleveland Indians,Progressive Field,1926701.0,104,102,CLE,CLE,CLE
2873,2018,NL,COL,COL,W,2,163,81.0,91,72,...,162,0.988,Colorado Rockies,Coors Field,3015880.0,117,116,COL,COL,COL
2874,2018,AL,DET,DET,C,3,162,81.0,64,98,...,126,0.984,Detroit Tigers,Comerica Park,1856970.0,101,102,DET,DET,DET
2875,2018,AL,HOU,HOU,W,1,162,81.0,103,59,...,116,0.989,Houston Astros,Minute Maid Park,2980549.0,96,94,HOU,HOU,HOU
2876,2018,AL,KCA,KCR,C,5,162,81.0,58,104,...,142,0.987,Kansas City Royals,Kauffman Stadium,1665107.0,99,100,KCR,KCA,KCA
2877,2018,AL,LAA,ANA,W,4,162,81.0,80,82,...,173,0.987,Los Angeles Angels of Anaheim,Angel Stadium of Anaheim,3020216.0,97,97,LAA,ANA,ANA
2878,2018,NL,LAN,LAD,W,1,163,82.0,92,71,...,111,0.983,Los Angeles Dodgers,Dodger Stadium,3857500.0,98,96,LAD,LAN,LAN
2879,2018,NL,MIA,FLA,E,5,161,81.0,63,98,...,133,0.986,Miami Marlins,Marlins Park,811104.0,89,90,MIA,FLO,MIA
2880,2018,NL,MIL,MIL,C,1,163,81.0,96,67,...,141,0.982,Milwaukee Brewers,Miller Park,2850875.0,102,101,MIL,ML4,MIL
2881,2018,AL,MIN,MIN,C,2,162,81.0,78,84,...,127,0.984,Minnesota Twins,Target Field,1959197.0,102,102,MIN,MIN,MIN
2882,2018,AL,NYA,NYY,E,2,162,81.0,100,62,...,95,0.984,New York Yankees,Yankee Stadium III,3482855.0,104,102,NYY,NYA,NYA
2883,2018,NL,NYN,NYM,E,4,162,81.0,77,85,...,121,0.985,New York Mets,Citi Field,2224995.0,90,91,NYM,NYN,NYN
2884,2018,AL,OAK,OAK,W,2,162,81.0,97,65,...,125,0.985,Oakland Athletics,O.co Coliseum,1573616.0,98,97,OAK,OAK,OAK
2885,2018,NL,PHI,PHI,E,3,162,81.0,80,82,...,138,0.979,Philadelphia Phillies,Citizens Bank Park,2158124.0,102,103,PHI,PHI,PHI
2886,2018,NL,PIT,PIT,C,4,161,80.0,82,79,...,129,0.982,Pittsburgh Pirates,PNC Park,1465316.0,96,96,PIT,PIT,PIT
2887,2018,NL,SDN,SDP,W,5,162,81.0,66,96,...,127,0.983,San Diego Padres,Petco Park,2168536.0,94,95,SDP,SDN,SDN
2888,2018,AL,SEA,SEA,W,3,162,81.0,89,73,...,152,0.985,Seattle Mariners,Safeco Field,2299489.0,94,95,SEA,SEA,SEA
2889,2018,NL,SFN,SFG,W,4,162,81.0,73,89,...,160,0.984,San Francisco Giants,AT&T Park,3156185.0,95,96,SFG,SFN,SFN
2890,2018,NL,SLN,STL,C,3,162,81.0,88,74,...,151,0.978,St. Louis Cardinals,Busch Stadium III,3403587.0,97,96,STL,SLN,SLN
2891,2018,AL,TBA,TBD,E,3,162,81.0,90,72,...,136,0.986,Tampa Bay Rays,Tropicana Field,1154973.0,97,97,TBR,TBA,TBA
2892,2018,AL,TEX,TEX,W,5,162,81.0,67,95,...,168,0.980,Texas Rangers,Rangers Ballpark in Arlington,2107107.0,112,113,TEX,TEX,TEX
2893,2018,AL,TOR,TOR,E,4,162,81.0,73,89,...,138,0.983,Toronto Blue Jays,Rogers Centre,2325281.0,97,98,TOR,TOR,TOR
2894,2018,NL,WAS,WSN,E,2,162,81.0,82,80,...,115,0.989,Washington Nationals,Nationals Park,2529604.0,106,105,WSN,MON,WAS

In [44]:
from dfply import * 

HomeRuns_above50 = (batting
     >> select(X.playerID, X.HR,X.yearID)
     >> left_join(people, by = 'playerID')
     >> select(X.playerID, X.HR,X.yearID, X.nameGiven)
     >> left_join(teams, by = 'yearID')
     >> select(X.nameGiven, X.name, X.HR_x, X.nameGiven)
     >> filter_by(X.HR_x > 50)
    )

In [45]:
HomeRuns_above50

                      nameGiven                           name  HR_x
306352            George Herman                 Boston Red Sox    54
306353            George Herman                Brooklyn Robins    54
306354            George Herman                  Boston Braves    54
306355            George Herman              Chicago White Sox    54
306356            George Herman                   Chicago Cubs    54
306357            George Herman                Cincinnati Reds    54
306358            George Herman              Cleveland Indians    54
306359            George Herman                 Detroit Tigers    54
306360            George Herman                New York Giants    54
306361            George Herman               New York Yankees    54
306362            George Herman         Philadelphia Athletics    54
306363            George Herman          Philadelphia Phillies    54
306364            George Herman             Pittsburgh Pirates    54
306365            George Herman               St. Louis Browns    54
306366            George Herman            St. Louis Cardinals    54
306367            George Herman            Washington Senators    54
314672            George Herman                 Boston Red Sox    59
314673            George Herman                Brooklyn Robins    59
314674            George Herman                  Boston Braves    59
314675            George Herman              Chicago White Sox    59
314676            George Herman                   Chicago Cubs    59
314677            George Herman                Cincinnati Reds    59
314678            George Herman              Cleveland Indians    59
314679            George Herman                 Detroit Tigers    59
314680            George Herman                New York Giants    59
314681            George Herman               New York Yankees    59
314682            George Herman         Philadelphia Athletics    59
314683            George Herman          Philadelphia Phillies    59
314684            George Herman             Pittsburgh Pirates    59
314685            George Herman               St. Louis Browns    59
...                         ...                            ...   ...
2374452  Giancarlo Cruz-Michael           Arizona Diamondbacks    59
2374453  Giancarlo Cruz-Michael                 Atlanta Braves    59
2374454  Giancarlo Cruz-Michael              Baltimore Orioles    59
2374455  Giancarlo Cruz-Michael                 Boston Red Sox    59
2374456  Giancarlo Cruz-Michael              Chicago White Sox    59
2374457  Giancarlo Cruz-Michael                   Chicago Cubs    59
2374458  Giancarlo Cruz-Michael                Cincinnati Reds    59
2374459  Giancarlo Cruz-Michael              Cleveland Indians    59
2374460  Giancarlo Cruz-Michael               Colorado Rockies    59
2374461  Giancarlo Cruz-Michael                 Detroit Tigers    59
2374462  Giancarlo Cruz-Michael                 Houston Astros    59
2374463  Giancarlo Cruz-Michael             Kansas City Royals    59
2374464  Giancarlo Cruz-Michael  Los Angeles Angels of Anaheim    59
2374465  Giancarlo Cruz-Michael            Los Angeles Dodgers    59
2374466  Giancarlo Cruz-Michael                  Miami Marlins    59
2374467  Giancarlo Cruz-Michael              Milwaukee Brewers    59
2374468  Giancarlo Cruz-Michael                Minnesota Twins    59
2374469  Giancarlo Cruz-Michael               New York Yankees    59
2374470  Giancarlo Cruz-Michael                  New York Mets    59
2374471  Giancarlo Cruz-Michael              Oakland Athletics    59
2374472  Giancarlo Cruz-Michael          Philadelphia Phillies    59
2374473  Giancarlo Cruz-Michael             Pittsburgh Pirates    59
2374474  Giancarlo Cruz-Michael               San Diego Padres    59
2374475  Giancarlo Cruz-Michael               Seattle Mariners    59
2374476  Giancarlo Cruz-Michael           San Francisco Giants    59
2374477  Giancarlo Cruz-Michael            St. Louis Cardinals    59
2374478  Giancarlo Cruz-Michael                 Tampa Bay Rays    59
2374479  Giancarlo Cruz-Michael                  Texas Rangers    59
2374480  Giancarlo Cruz-Michael              Toronto Blue Jays    59
2374481  Giancarlo Cruz-Michael           Washington Nationals    59

[926 rows x 3 columns]

## Up Next

Stuff