# Joins in `pyspark`

Performed with `df_left.join(df_right, how=type_str)`

In [1]:
from pyspark.sql import SparkSession
from more_pyspark import to_pandas
spark = SparkSession.builder.appName('Ops').getOrCreate()
deptk = spark.read.csv("./data/department.csv",  header=True, inferSchema=True)
deptk.collect() >> to_pandas

   DeptID     DeptName
0      31        Sales
1      33  Engineering
2      34     Clerical
3      35    Marketing

In [2]:
emplk = spark.read.csv("./data/employee.csv",  header=True, inferSchema=True)
emplk.collect() >> to_pandas

   DeptID    LastName
0    31.0    Rafferty
1    33.0       Jones
2    33.0  Heisenberg
3    34.0    Robinson
4    34.0       Smith
5     NaN    Williams

#### Inner join

In [3]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='inner')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0      31    Rafferty        Sales
1      33       Jones  Engineering
2      33  Heisenberg  Engineering
3      34    Robinson     Clerical
4      34       Smith     Clerical

#### Left join

In [4]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='left')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0    31.0    Rafferty        Sales
1    33.0       Jones  Engineering
2    33.0  Heisenberg  Engineering
3    34.0    Robinson     Clerical
4    34.0       Smith     Clerical
5     NaN    Williams         None

#### Right join

In [5]:
deptk

DataFrame[DeptID: int, DeptName: string]

In [6]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='right')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0      31    Rafferty        Sales
1      33  Heisenberg  Engineering
2      33       Jones  Engineering
3      34       Smith     Clerical
4      34    Robinson     Clerical
5      35        None    Marketing

#### Outer join

In [7]:
(emplk.join(deptk, emplk.DeptID == deptk.DeptID, how='outer')
 .collect()) >> to_pandas

   DeptID    LastName     DeptName
0     NaN    Williams         None
1    35.0        None    Marketing
2    34.0    Robinson     Clerical
3    34.0       Smith     Clerical
4    31.0    Rafferty        Sales
5    33.0       Jones  Engineering
6    33.0  Heisenberg  Engineering

## <font color="red"> Exercise 2 </font>

Determine all the players that have hit more than 100 home runs in a season.  The final table should include the players proper name, as well as the team name.  

**Hint:** You will need join the files listed below.  To get credit for this exercise, use the join `pyspark` join methods presented above.

In [8]:
files = ("./data/baseball/core/Batting.csv", 
              "./data/baseball/core/People.csv",
              "./data/baseball/core/Teams.csv")

In [9]:
from pyspark.sql import SparkSession
from more_pyspark import get_spark_types, to_pandas
from functoolz import pipeable
from dfply import *

In [10]:
spark = SparkSession.builder.appName('Ops').getOrCreate()

In [11]:
# Your code here
batting, people, teams = [spark.read.csv(f, header=True, inferSchema=True) for f in files]

In [12]:
battingData = batting.collect() >> to_pandas >> select(X.yearID, X.playerID, X.HR)

In [13]:
TeamData = teams.collect() >> to_pandas >> select(X.name, X.yearID)

In [14]:
playerData = people.collect() >> to_pandas >> select(X.nameGiven, X.playerID)

In [15]:
finalTable = (battingData 
                >> inner_join(TeamData, by = 'yearID') 
                >> inner_join(playerData, by = 'playerID')
                >> filter_by(X.HR> 50))

In [16]:
finalTable

         yearID   playerID  HR                           name      nameGiven
296648     1920   ruthba01  54                 Boston Red Sox  George Herman
296649     1920   ruthba01  54                Brooklyn Robins  George Herman
296650     1920   ruthba01  54                  Boston Braves  George Herman
296651     1920   ruthba01  54              Chicago White Sox  George Herman
296652     1920   ruthba01  54                   Chicago Cubs  George Herman
296653     1920   ruthba01  54                Cincinnati Reds  George Herman
296654     1920   ruthba01  54              Cleveland Indians  George Herman
296655     1920   ruthba01  54                 Detroit Tigers  George Herman
296656     1920   ruthba01  54                New York Giants  George Herman
296657     1920   ruthba01  54               New York Yankees  George Herman
296658     1920   ruthba01  54         Philadelphia Athletics  George Herman
296659     1920   ruthba01  54          Philadelphia Phillies  George Herman
296660     1920   ruthba01  54             Pittsburgh Pirates  George Herman
296661     1920   ruthba01  54               St. Louis Browns  George Herman
296662     1920   ruthba01  54            St. Louis Cardinals  George Herman
296663     1920   ruthba01  54            Washington Senators  George Herman
296664     1921   ruthba01  59                 Boston Red Sox  George Herman
296665     1921   ruthba01  59                Brooklyn Robins  George Herman
296666     1921   ruthba01  59                  Boston Braves  George Herman
296667     1921   ruthba01  59              Chicago White Sox  George Herman
296668     1921   ruthba01  59                   Chicago Cubs  George Herman
296669     1921   ruthba01  59                Cincinnati Reds  George Herman
296670     1921   ruthba01  59              Cleveland Indians  George Herman
296671     1921   ruthba01  59                 Detroit Tigers  George Herman
296672     1921   ruthba01  59                New York Giants  George Herman
296673     1921   ruthba01  59               New York Yankees  George Herman
296674     1921   ruthba01  59         Philadelphia Athletics  George Herman
296675     1921   ruthba01  59          Philadelphia Phillies  George Herman
296676     1921   ruthba01  59             Pittsburgh Pirates  George Herman
296677     1921   ruthba01  59               St. Louis Browns  George Herman
...         ...        ...  ..                            ...            ...
2393532    2017  judgeaa01  52           Arizona Diamondbacks    Aaron James
2393533    2017  judgeaa01  52                 Atlanta Braves    Aaron James
2393534    2017  judgeaa01  52              Baltimore Orioles    Aaron James
2393535    2017  judgeaa01  52                 Boston Red Sox    Aaron James
2393536    2017  judgeaa01  52              Chicago White Sox    Aaron James
2393537    2017  judgeaa01  52                   Chicago Cubs    Aaron James
2393538    2017  judgeaa01  52                Cincinnati Reds    Aaron James
2393539    2017  judgeaa01  52              Cleveland Indians    Aaron James
2393540    2017  judgeaa01  52               Colorado Rockies    Aaron James
2393541    2017  judgeaa01  52                 Detroit Tigers    Aaron James
2393542    2017  judgeaa01  52                 Houston Astros    Aaron James
2393543    2017  judgeaa01  52             Kansas City Royals    Aaron James
2393544    2017  judgeaa01  52  Los Angeles Angels of Anaheim    Aaron James
2393545    2017  judgeaa01  52            Los Angeles Dodgers    Aaron James
2393546    2017  judgeaa01  52                  Miami Marlins    Aaron James
2393547    2017  judgeaa01  52              Milwaukee Brewers    Aaron James
2393548    2017  judgeaa01  52                Minnesota Twins    Aaron James
2393549    2017  judgeaa01  52               New York Yankees    Aaron James
2393550    2017  judgeaa01  52                  New York Mets    Aaron James
2393551    2017  judgeaa01  52              Oakland Athletics    Aaron James
2393552    2017  judgeaa01  52          Philadelphia Phillies    Aaron James
2393553    2017  judgeaa01  52             Pittsburgh Pirates    Aaron James
2393554    2017  judgeaa01  52               San Diego Padres    Aaron James
2393555    2017  judgeaa01  52               Seattle Mariners    Aaron James
2393556    2017  judgeaa01  52           San Francisco Giants    Aaron James
2393557    2017  judgeaa01  52            St. Louis Cardinals    Aaron James
2393558    2017  judgeaa01  52                 Tampa Bay Rays    Aaron James
2393559    2017  judgeaa01  52                  Texas Rangers    Aaron James
2393560    2017  judgeaa01  52              Toronto Blue Jays    Aaron James
2393561    2017  judgeaa01  52           Washington Nationals    Aaron James

[926 rows x 5 columns]

## Up Next

Stuff